header{
  background-color: rgb(31, 31, 238);
  color: white;
}

.nav-list{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-list li{
  list-style: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.nav-list li:hover{
  background-color: black;
  color: white;
  transition: all 0.3s;

}
