<h1>Hola mundo desde angular {{username}}</h1>
<app-header></app-header>
<input type="text" [(ngModel)]="username" (input)="addOne()">
<h1 (click)="addOne()">Number: {{number}}</h1>
<h1>Renderizado condicional &#64;if</h1>

@if(condition){
  <h1>la condicion es verdadera</h1>
}@else if(!condition){
  <h2 style="color:red">la condicion es falsa</h2>
}@else{
  <h2>no hay condicion</h2>
}
<hr>
<h1>Renderizado de listas</h1>
@for (animal of animales; track $index) {
  <h1>{{$index + 1}} - {{animal}}</h1>
}
<hr>
<h1>Renderizado de objetos</h1>
@for (animal of animals; track animal.id){
  <h1>{{animal.id + 1}} - {{animal.name}} - color: {{animal.color}}</h1>
  <img [src]="animal.urlImg" alt="">
}
<hr>
<h1>Props</h1>
<app-child [msg]="msg" [person]="person"></app-child>
<router-outlet />
