<p>form-control works!</p>

<form [formGroup]="movieForm" (submit)="handleSubmit()">
  <fieldset>
    <label for="movie-name">Movie Name:</label>
    <input type="text" id="movie-name" formControlName="name" placeholder="Movie name">
    @if(name.invalid && name.touched){
      <p class="form-error">Name is required</p>
    }
  </fieldset>
  <fieldset>
    <label for="movie-name">Movie duration:</label>
    <input type="text" id="movie-duration" formControlName="duration" placeholder="Movie duration">
    @if(duration.hasError('required') && duration.touched){
      <p class="form-error">Duration is required</p>
    }
    @else if(duration.hasError('max') && duration.touched){
      <p class="form-error">Duration must be less than 300</p>
    }
  </fieldset>
  <fieldset>
    <label for="movie-name">Movie director:</label>
    <input type="text" id="movie-director" formControlName="director" placeholder="Movie director">
  </fieldset>
  <button [disabled]="movieForm.invalid">Create Movie</button>
</form>
